<app-header></app-header>
<app-menubar></app-menubar>
<div style="display:flex;align-items:center;justify-content:center;height:100vh;box-sizing:border-box;">
  <div class="card" style="display:flex;flex-wrap:wrap;justify-content:center;gap:16px;padding:24px;">
    <p-toast></p-toast>
    <p-button type="button" pRipple (click)="showSuccess()" label="Success" severity="success"></p-button>

    <p-button type="button" pRipple (click)="showInfo()" label="Info" severity="info"></p-button>

    <p-button type="button" pRipple (click)="showWarn()" label="Warn" severity="warn"></p-button>

    <p-button type="button" pRipple (click)="showError()" label="Error" severity="danger"></p-button>

    <p-button type="button" pRipple (click)="showSecondary()" label="Secondary" severity="secondary"></p-button>

    <p-button type="button" pRipple (click)="showContrast()" label="Contrast" severity="contrast"></p-button>
  </div>
</div>

<app-footer></app-footer>
