<!-- Título -->
<h2>Taller 4 Computación Gráfica</h2>

<!-- Párrafos -->
<p class="parrafo1">Este es el primer párrafo con Arial.</p>
<p class="parrafo2">Este es el segundo párrafo con Nerko One.</p>

<!-- Links -->
<ul>
  <li><a href="https://angular.io" target="_blank">Angular Oficial</a></li>
  <li><a href="https://tailwindcss.com" target="_blank">TailwindCSS</a></li>
  <li><a href="https://primeng.org/" target="_blank">PrimeNG</a></li>
</ul>

<!-- Tabla -->
<table>
  <tr>
    <th>Productos</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr class="Fila_1_3">
    <td>Iphone</td>
    <td>10</td>
    <td>$2.000.000</td>
  </tr>
  <tr class="Fila_2">
    <td>Mouse</td>
    <td>100</td>
    <td>$50.000</td>
  </tr>
  <tr class="Fila_1_3">
    <td>Pc Gamer</td>
    <td>2</td>
    <td>$3.000.000</td>
  </tr>
</table>
