<!-- Título -->
<h2>Taller 4 Computación Gráfica</h2>

<!-- Párrafos -->
<p class="parrafo1">Este es el primer párrafo con Arial.</p>
<p class="parrafo2">Este es el segundo párrafo con Nerko One.</p>

<!-- Links -->
<ul>
  <li><a href="https://angular.io" target="_blank">Angular Oficial</a></li>
  <li><a href="https://tailwindcss.com" target="_blank">TailwindCSS</a></li>
  <li><a href="https://primeng.org/" target="_blank">PrimeNG</a></li>
</ul>

<!-- Tabla -->
<table>
  <tr>
    <th>Columna 1</th>
    <th>Columna 2</th>
    <th>Columna 3</th>
  </tr>
  <tr class="Fila_1_3">
    <td>Fila 1 - Celda 1</td>
    <td>Fila 1 - Celda 2</td>
    <td>Fila 1 - Celda 3</td>
  </tr>
  <tr class="Fila_2">
    <td>Fila 2 - Celda 1</td>
    <td>Fila 2 - Celda 2</td>
    <td>Fila 2 - Celda 3</td>
  </tr>
  <tr class="Fila_1_3">
    <td>Fila 3 - Celda 1</td>
    <td>Fila 3 - Celda 2</td>
    <td>Fila 3 - Celda 3</td>
  </tr>
</table>
